<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
<table>
    <tr>
        <th> Players </th>
        <th> Time of start </th>
        <th> Status </th>
        <th> Actions </th>
    </tr>
    <tr th:object="${event}">
        <td th:text="*{playerOne.name}+' '+*{playerOne.surname}+' vs '+*{playerTwo.name}+' '+*{playerTwo.surname}"></td>
        <td th:text="*{timeOfStart}"></td>
        <td th:text="*{status}"></td>
        <td> </td>
    </tr>
</table>

<table >
    <tr th:object="${result}">
        <th></th>
        <th th:text="*{event.playerOne.name}+' '+*{event.playerOne.surname}">  </th>
        <th th:text="*{event.playerTwo.name}+' '+*{event.playerTwo.surname}">  </th>
    </tr>
    <tr th:each="set : ${result.sets}" th:object="${set}">
        <td th:text="'Set '+*{sequenceNumber}"> </td>
        <td th:text="*{gamesWonByPlayerOne}"></td>
        <td th:text="*{gamesWonByPlayerTwo}"></td>
    </tr>
    <tr>
        <td> Game </td>
        <td th:text="${currentGame.playerOnePoints}"></td>
        <td th:text="${currentGame.playerTwoPoints}"></td>
    </tr>
</table>
<form method="post" th:action="@{/admin/event/{event_id}/add-point(event_id=${event.id})}">
    <button name="playerId" th:value="${event.playerOne.id}" th:text="'Point for '+${event.playerOne.surname}" type="submit"></button>
    <button name="playerId" th:value="${event.playerTwo.id}" th:text="'Point for '+${event.playerTwo.surname}" type="submit"></button>
</form>
</body>
</html>