<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
<table>
    <tr>
        <th> Players </th>
        <th> Time of start </th>
        <th> Status </th>
        <th> Actions </th>
    </tr>
    <tr th:object="${event}">
        <td th:text="*{playerOne.name}+' '+*{playerOne.surname}+' vs '+*{playerTwo.name}+' '+*{playerTwo.surname}"></td>
        <td th:text="*{timeOfStart}"></td>
        <td th:text="*{status}"></td>
        <td> </td>
    </tr>
</table>

<table >
    <tr th:object="${result}">
        <th></th>
        <th th:text="*{event.playerOne.name}+' '+*{event.playerOne.surname}">  </th>
        <th th:text="*{event.playerTwo.name}+' '+*{event.playerTwo.surname}">  </th>
    </tr>
    <tr th:each="set, iterStat : ${result.sets}" th:object="${set}">
        <td th:text="'Set '+${iterStat.count}"> </td>
        <td th:text="*{gamesWonByPlayerOne}"></td>
        <td th:text="*{gamesWonByPlayerTwo}"></td>
    </tr>
</table>
</body>
</html>